body {
  background-color: #ffffff;
}

.navbar-toggler {
  border: 0px !important;
  font-size: 1rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand img {
  max-height: 16px;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Assistant', sans-serif;
  color: #000000;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #000000 !important;
}

.btn-login-desktop {
  background-color: #1B1D1D;
  color: #ffffff;
  border-radius: 0;
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -16px !important;
  height: 50px;
}

.btn-login-desktop:hover {
  background-color: #2D2F2F;
  color: #ffffff;
}

.btn-login-mobile {
  background-color: #1B1D1D;
  color: #ffffff;
}

.btn-login-mobile:hover {
  background-color: #2D2F2F;
  color: #ffffff;
}

header {
  padding: 255px 0px 223px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  margin-top: -70px;
  height: 650px;
}

header h1 {
  font-family: 'Barlow', sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}

header .btn-get-started {
  background-color: #01A2A8;
  color: #ffffff;
}

header .btn-get-started:hover {
  background-color: #00B8BF;
  color: #ffffff;
}

.section-panel-statistik {
  margin-top: -49px;
}

.section-panel-statistik .statistik-detail {
  padding-top: 15px;
  background-color: #ffffff;
  padding-left: 20px;
  border: 0;
  margin-right: 0;
}

.section-panel-statistik h2 {
  margin-bottom: 0;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}

.section-panel-statistik p {
  font-family: 'Assistant', sans-serif;
  font-size: 13px;
  color: #000000;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #1B1D1D;
  margin-top: -50px;
  margin-bottom: -300px;
}

.section-popular .section-popular-heading {
  margin-top: 110px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #ffffff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 27px;
  font-weight: bold;
}

.section-popular .section-popular-heading p {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #aaaaaa;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 14px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 20px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #01A2A8;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #00B8BF;
  color: #ffffff;
}

.section-our-network {
  background-color: #ffffff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-our-network h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 27px;
  font-weight: bold;
}

.section-our-network p {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.section-our-network img {
  max-width: 100%;
}

.section-testimonial-heading {
  min-height: 506px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 249, 250, 0.31)), to(#f7f9ff));
  background: linear-gradient(rgba(231, 249, 250, 0.31) 0%, #f7f9ff 100%);
  padding-top: 50px;
}

.section-testimonial-heading h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 27px;
  font-weight: bold;
}

.section-testimonial-heading p {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 0;
}

.section-testimonial-content .section-testimonial-travel .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .section-testimonial-travel .card-testimonial .testimonial-content {
  min-height: 330px;
}

.section-testimonial-content .section-testimonial-travel .card-testimonial h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}

.section-testimonial-content .section-testimonial-travel .card-testimonial .testimonial {
  font-family: 'Assistant', sans-serif;
  font-size: 23px;
  font-weight: 200;
  color: #6e6e6e;
  min-height: 120px;
}

.section-testimonial-content .section-testimonial-travel .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .section-testimonial-travel .card-testimonial .trip-to {
  font-size: 15px;
  font-weight: normal;
  color: #6e6e6e;
}

.section-testimonial-content .btn-need-help {
  border: 1px solid #01A2A8;
  color: #01A2A8;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #01A2A8;
  color: #ffffff;
}

.section-testimonial-content .btn-get-started {
  background-color: #01A2A8;
  color: #ffffff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #00B8BF;
  color: #ffffff;
}

.section-footer a {
  color: #6e6e6e;
}

.section-footer h5 {
  font-size: 18px;
  font-weight: normal;
}

.section-details-header {
  min-height: 310px;
  background-color: #E8F7FC;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 10;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item {
  color: #1B1D1D;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #1b1b1b;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 0px;
  margin-bottom: 10px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 16px;
  color: #6e6e6e;
  font-weight: 200;
}

.section-details-content .card-details .payment-instruction {
  font-weight: 300;
  font-size: 14px;
  color: #6e6e6e;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #1b1b1b;
  margin-bottom: 0;
  font-weight: 300;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 14px;
  color: #1B1D1D;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .trip-informations th {
  font-size: 17px;
  font-weight: 300;
  color: #1B1D1D;
}

.section-details-content .card-details .trip-informations td {
  font-size: 16px;
  font-weight: 200;
  color: #6e6e6e;
}

.section-details-content .card-details .trip-informations .text-black {
  color: #1B1D1D;
  font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-hijau {
  color: #01A2A8;
  font-weight: bold;
}

.section-details-content .card-details .note {
  background-color: #F7F9FF;
  padding: 10px;
}

.section-details-content .card-details .note h3 {
  font-size: 14px;
  font-weight: 500;
}

.section-details-content .card-details .note .disclamer {
  font-weight: 300;
  font-size: 14px;
  color: #6e6e6e;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #1B1D1D;
  color: #ffffff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #2D2F2F;
  color: #ffffff;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #1B1D1D;
  margin-bottom: 0;
  font-weight: lighter;
}

.section-details-content .features p {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: lighter;
}

.section-details-content .features .description {
  margin-left: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 5px solid #01A2A8;
}

.section-details-content .gallery .xzoom-thumbs {
  margin-left: -4px;
}

.section-details-content .gallery .xzoom-thumbs .xzoom-gallery {
  margin-left: 3px;
  width: 40px;
  height: 30px;
}

.section-details-content .members .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #01A2A8;
  color: #ffffff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #00B8BF;
  color: #ffffff;
}

.section-success {
  height: 90vh;
}

.section-success img {
  margin-bottom: 20px;
  margin-top: -10px;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #1B1D1D;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #2D2F2F;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #1B1D1D;
  color: #ffffff;
}

.section-success .btn-home-page:hover {
  background-color: #2D2F2F;
  color: #ffffff;
}

.login-container .page-login {
  height: 100vh;
}

.login-container .page-login .section-left h1 {
  font-family: 'Barlow', sans-serif;
  color: #1B1D1D;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}

.login-container .page-login .section-left img {
  width: 400px;
  height: 400px;
}

.login-container .page-login .section-right {
  margin-top: -60px;
}

.login-container .page-login .section-right .navbar-brand img {
  max-height: 20px;
}

.login-container .page-login .section-right a {
  color: #1b1b1b;
}

.login-container .page-login .btn-login {
  background-color: #01A2A8;
  color: #ffffff;
}

.login-container .page-login .btn-login:hover {
  background-color: #00B8BF;
  color: #ffffff;
}

@media (min-width: 992px) {
  .navbar {
    height: 49px;
  }
  .navbar-brand img {
    max-height: 18px;
  }
  header {
    padding: 222px 0px 223px;
  }
  header h1 {
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
  }
  .section-panel-statistik .statistik-detail {
    padding-left: 60px;
  }
  .section-panel-statistik h2 {
    font-size: 30px;
  }
  .section-panel-statistik p {
    font-size: 18px;
  }
  .section-popular {
    margin-bottom: -230px;
  }
  .section-popular .section-popular-heading {
    margin-top: 150px;
  }
  .section-popular .section-popular-heading h2 {
    font-size: 35px;
  }
  .section-popular .section-popular-heading p {
    font-size: 18px;
  }
  .section-our-network h2 {
    font-size: 35px;
  }
  .section-our-network p {
    font-size: 18px;
  }
  .section-testimonial-heading h2 {
    font-size: 35px;
  }
  .section-testimonial-heading p {
    font-size: 18px;
  }
  .section-details-content .breadcrumb {
    padding: 0;
  }
  .section-details-content .left-line {
    border-left: 1px solid #aaaaaa;
  }
  .section-details-content .features .description {
    margin-bottom: 0;
  }
  .section-details-content .gallery .xzoom-thumbs {
    margin-left: -12px;
  }
  .section-details-content .gallery .xzoom-thumbs .xzoom-gallery {
    margin-left: 9.5px;
    margin-right: -3px;
    width: 128px;
    height: 80px;
  }
  .section-details-content .note {
    margin-right: 14px;
  }
  .login-container {
    background: -webkit-gradient(linear, left top, right top, color-stop(65%, #fff), color-stop(35%, #e8f7fc));
    background: linear-gradient(90deg, #fff 65%, #e8f7fc 35%);
    width: 100vw;
    height: 100vh;
  }
  .login-container .page-login .section-left h1 {
    font-size: 50px;
    text-align: left;
  }
  .login-container .page-login .section-right {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */